name: Football Data Bot

on:
  schedule:
    - cron: '0 0 * * *' # Wakes up every night at midnight
  workflow_dispatch:   # Lets you wake it up manually with a button

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install Tools
        run: pip install requests beautifulsoup4

      - name: Run Scraper
        run: python scraper.py

      - name: Save Data
        run: |
          git config --global user.name "GitHub Robot"
          git config --global user.email "bot@robot.com"
          git add data/*.json
          git commit -m "Robot updated the football data" || echo "No changes"
          git push
